
 #contenedor-footer {
    background-color: rgb(172,167,167);
    padding: 0;
 }

.img-insta {
    margin-top: 5px;
    max-height: 20px;
    max-width: 20px;
}

.img-face {
    margin-top: 5px;
    max-width: 20px;
    max-height: 25px;
}
